*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'oswald', sans-serif;
}

.container{
    height: 100vh;
    width: 100vw;
}

.container-left{
    display: inline-block;
    width: 60%;
    padding: 136px;
    margin-top: 8%;
    overflow: hidden;
}

.container-right{
    display: inline-block;
    background-color: rgba(93, 93, 125, 0.16);
    height: 100vh;
    width: 40%;
    position: absolute;
    
}
img{
    position: relative;
    top: 15%;
    right: 144px;
}

h1{
    
    font-size: 70px;
    line-height: 80px;
    color: #5d5d7d;
    width: 368px;
    
}
p{
   font-weight: 400;
   font-size: 28px;
   line-height: 48px;
   color: #5d5d7d;
   opacity: 0.6;
   margin: 15px 0;
   width: 540px;

}
button{
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #ffffff;
    border: none;
    border-radius: 30px;
    width: 269px;
    height: 62px;
    background: #9499ea;
    box-shadow: 0px 10px 24px rgba(148, 153, 234, 0.0979959);
    cursor: pointer;
}
button:hover{
    opacity: .8;
}
button:active{
    opacity: .5;
}

a{
    font-size: 28px;
    line-height: 41px;
    margin-right: 41px;
    cursor: pointer;
    text-align: center;
}
a:nth-child(2){
    opacity: 0.4;
}
a:hover{
    opacity: 0.4;
}
a:active{
    0.5
}
header{
    margin: 24px 0 0 57px;
}

@media screen and (max-width: 900px){
    .container-left {
        width: 100%;
        height: 50%;
        padding: 0;
        margin: 0;
       
}

.container-right {
    display: block;
    height: auto;
    width: 100%;
    position: static;
}

h1{
        text-align: center;
        font-size: 36px;
        line-height: 52px;
        width: auto;
        margin: 58px 50px 0px 50px;
        height: fit-content;
        padding-inline: 30px;
}
p{
        text-align: center;
        font-size: 14px;
        line-height: 24px;
        margin: 15px 40px;
        width: auto;
        height: auto;
        padding-inline: 40px;
}

header{
    display: none;
}


button{
   font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #ffffff;
    border: none;
    border-radius: 30px;
    width: 269px;
    height: 62px;
    background: #9499ea;
    box-shadow: 0px 10px 24px rgba(148, 153, 234, 0.0979959);
    cursor: pointer;

    margin: 0 auto;
     display: block;
}
img{
    position: static;
        max-width: 90%;
}

}